<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <%- include('header') %>
        <% if (currentUser) { %>
        <h1>Hello <%= currentUser.username %></h1>
        <a href="/add-message" class="add-message">Add message</a>
        <% } if (messages) { messages.forEach(message => { %>
        <div class="message">
            <% if (currentUser) { %>
            <p class="author">Author: <%= message.username %> </p>
            <% } else { %>
            <p class="author">Author: <span class="blur">anonymus</span> (Log in to see the author)</p>
            <% } %>
            <h3><%= message.title %></h3>
            <p><%= message.text %></p>
            <p><%= message.time %></p>
            <% if (currentUser) { %>
            <a href="/delete/<%= message.id %>" class="delete">Delete message</a>
            <% } %>
        </div>
        <% })} %>
    </div>
</body>

</html>