<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>membersOnly</title>
</head>

<body>
    <div class="container">
        <%- include('header') %>
        <% if (currentUser) { %>
        <h1>Hello <%= currentUser.username %></h1>
        <a href="/add-message" class="add-message">Add message</a>
        <% } if (messages) { messages.forEach(message => { %>
        <div class="message">
            <p class="small"><%= message.time %></p>
            <% if (currentUser) { %>
            <p class="small">Author: <%= message.username %> </p>
            <% } else { %>
            <p class="small">Author: <span class="blur">anonymus</span> <i>(Log in to see the author)</i></p>
            <% } %>
            <h2 style="margin-bottom: 5px;"><%= message.title %></h2>
            <p style="margin-top: 5px;"><%= message.text %></p>
            <% if (currentUser && currentUser.member === true) { %>
            <a href="/delete/<%= message.id %>" class="delete">Delete message</a>
            <% } %>
        </div>
        <% })} %>
    </div>
</body>

</html>