<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>membersOnly</title>
</head>

<body>
    <div class="container">
        <%- include('header') %>
        <h1>Log in</h1>
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" value="<%= locals.userData && userData.username ? userData.username : '' %>" />
            <% if (locals.messageUsername) { %>
            <p class="error"><%= messageUsername %></p>
            <% } %>

            <label for="password">Password</label>
            <input id="password" name="password" type="password" value="<%= locals.userData && userData.password ? userData.password : '' %>" />
            <% if (locals.messagePassword) { %>
            <p class="error"><%= messagePassword %></p>
            <% } %>

            <button>Log in</button>
        </form>
    </div>
</body>

</html>