<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <%- include('header') %>
        <h1>Register</h1>
        <form action="/register" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" value="<%= locals.userData && userData.username ? userData.username : '' %>" />
            <%- include('partials/usernameErrors') %>

            <label for="password">Password</label>
            <input id="password" name="password" type="password" value="<%= locals.userData && userData.password ? userData.password : '' %>" />

            <%- include('partials/passwordErrors') %>

            <button>Register</button>
        </form>
    </div>
</body>

</html>