<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>membersOnly</title>
</head>

<body>
    <div class="container">
        <%- include('header') %>
        <div class="form-container">
            <form action="/register" method="POST">
                <h1>Register</h1>

                <label for="username">Username</label>
                <input id="username" name="username" type="text" value="<%= locals.userData && userData.username ? userData.username : '' %>"  required />
                <%- include('partials/usernameErrors') %>

                <label for="password">Password</label>
                <input id="password" name="password" type="password" value="<%= locals.userData && userData.password ? userData.password : '' %>" required />

                <%- include('partials/passwordErrors') %>

                <button>Register</button>

                <a href="/login" class="link">Already have an account? Login</a>
            </form>
        </div>
    </div>
</body>

</html>